[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "external/nord-dircolors"]
	path = external/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors
